.element__like{
  width: 22px;
  height: 19px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  background-image: url("../../../images/like.svg");
  background-color: transparent;
}

.element__like:hover{
  opacity: 0.5;
}