.popup__form{
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 201px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .popup__form{
    width: 282px;
    height: 322px;
    margin-top: 123px;
  }
}