.popup__close{
  width: 32px;
  height: 32px;
  position: relative;
  top: -41px;
  right: -437px;
  /*background-size: contain;*/
  background-image: url(../../../images/close-desktop.svg);
  /*
  border: none;
  cursor: pointer;*/
  background-color: transparent;
}

@media screen and (max-width:767px) {
  .popup__close{
    right: -262px;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}

.popup__close:hover{
  opacity: .6;
}