.form__input_type_name{
  /*этот класс нужен для index.js*/
}

.form__input_type_name:invalid{
  border-bottom: 1px solid #FF0000;
}

.form__input_type_name:valid{
  border-bottom: 1px solid green;
}

.form__input_type_name:hover{
  border-bottom-color: #000;
}

.form__input_type_name:focus{
  border-bottom-color: #007DFF;
}