.popup__edit-button{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: black;
  width: 358px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .popup__edit-button{
    width: 238px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__edit-button:hover{
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.popup__edit-button:invalid{
  color: #C4C4C4;
  background-color: black;
}